
<head>
    <meta charset="UTF-8">
    <title>Software Engineering</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<style>

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4aacf7;
        border: 0.5px solid black;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        color: black;
        font-weight: bold;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    table, th, td{border-bottom: 1px solid black; border-collapse: collapse; margin: 5px; padding: 10px;}

    tr:hover {background-color: #C3C3C3;}

    button{cursor: pointer; text-decoration: none;}

    #uploadButton {
        background-color: white;
        border-radius: 5px;
        border:1px solid black;
        display:inline-block;
        color: black;
        font-size:14px;
        padding:10px 10px;
        margin: 10px;
    }

    #headerRow {color: white; text-shadow: 0 0 10px black; background-color: #4aacf7; border: 1px solid black;}
    #headerRow a:hover {cursor: pointer;}
    #headerRow:hover {background: 4aacf7;}

    a:hover{cursor: pointer;}

    .uploadArea {border: 1px solid black; margin: 3px; padding: 10px; border-radius: 10px; width: 30%;}


    .container{  display:inline-block;
  vertical-align:top;}
</style>

<%#
<button id="uploadButton" type="button">Upload</button>
%>
<table width="100%" style="margin: 0px;">
    <tr id="headerRow">
        <td><a>File Name</a></td>
        <td><a>Date Modified</a></td>
        <td>&nbsp</td>        
        <td>&nbsp</td>        
    </tr>

    <% @files.each do |file| %>
    
    <tr>
        <td><%= link_to file.name, welcome_show_url(file) %></td>
        <td><%= file.updated_at %></td>
        <td><%= link_to 'Download', file_download_url(:name => file.name) , :method => :get, :popup => true, :target => '_blank' %></td>
        <td><%= link_to 'Delete', filedelete_url(:name => file.name) , :method => :delete, :popup => true, :target => '_blank' %></td>      
    </tr>
    <% end %>

</table>
<br>
<div class="uploadArea">
<h3>Upload: </h3>

<%= form_for(@newFile, {:url => file_upload_url}) do |file| %>
  <p>
    <%= file.label :name %><br />
    <%= file.text_field :name %>
    <%= file.label :attachment %><br />
    <%= file.file_field :attachment %>

  </p>

  <p>
    <%= file.submit "Create" %>
  </p>
<% end %>
</div>



